<div class="globe-container">
 
  <div class="globe-wrapper">
    <div #chartdiv class="globe-chart"></div>
    
    <div class="globe-controls">
      <div class="control-info">
        <div class="control-item">
          <span class="control-icon">🖱️</span>
          <span>Drag to rotate</span>
        </div>
        <div class="control-item">
          <span class="control-icon">🔍</span>
          <span>Scroll to zoom</span>
        </div>
        <div class="control-item">
          <span class="control-icon">👆</span>
          <span>Click highlighted countries to explore</span>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="featured-countries">
    <h3>Featured Destinations</h3>
    <div class="countries-grid">
      <div *ngFor="let country of getFeaturedCountries()" class="country-card" 
           [style.background-color]="'#' + country.color.toString(16).padStart(6, '0')">
        <img [src]="country.image" [alt]="country.name" class="country-image">
        <div class="country-info">
          <h4>{{ country.name }}</h4>
          <p>{{ country.details }}</p>
        </div>
      </div>
    </div>
  </div> -->
</div>